<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/whxdm/include/head :: head}"></div> <!-- 중복되는 head 처리 -->
 	
<div class="main-wrapper">
	<nav class="navbar-vertical-nav d-none d-xl-block">
		<div class="navbar-vertical">
			<div class="px-4 py-5">
				<a href="/whxdm/index" class="navbar-brand">
					<img src="/assets/xdm/template/FreshCart-1.4.0/images/logo/logo.png" alt="" />
				</a>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column" id="sideNavbar">
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/InOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building-fill-add"></i></span>
								<span class="nav-link-text">입고관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/OutOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building-fill-dash"></i></span>
								<span class="nav-link-text">출고관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/DeliveryOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-truck"></i></span>
								<span class="nav-link-text">배송현황</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/productWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">상품관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesSys"
							aria-expanded="false"
							aria-controls="navCategoriesSys"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesSys" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/code/CodeWHXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/codegroup/CodeGroupWHXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="/whxdm/index" class="navbar-brand">
					<img src="/assets/usr/template/FreshCart-1.4.0/images/logo/logo.png" alt=""  />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/InOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building-fill-add"></i></span>
								<span class="nav-link-text">입고관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/OutOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building-fill-dash"></i></span>
								<span class="nav-link-text">출고관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/whxdm/whorder/DeliveryOrderWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-truck"></i></span>
								<span class="nav-link-text">배송현황</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/productWHXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">상품관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navOrders"
							aria-expanded="false"
							aria-controls="navOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navOrders" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/code/CodeWHXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/codegroup/CodeGroupWHXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="/xdm/index" class="navbar-brand">
					<img src="/assets/xdm/template/FreshCart-1.4.0/images/logo/logo.png" alt="" width="180px" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/whxdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">홈</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">상품관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesService"
							aria-expanded="false"
							aria-controls="navCategoriesService"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
								<span class="nav-link-text">주문관리</span>
							</div>
						</a>
						<div id="navCategoriesService" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/order/UserOrderWHXdmList">유저 주문관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/order/ClientOrderWHXdmList">거래처 주문관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">창고 주문관리</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesOrders"
							aria-expanded="false"
							aria-controls="navCategoriesOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesOrders" class="collapse show" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/whxdm/code/CodeWHXdmList">코드관리</a>
								</li>
								<!-- Nav item -->
								<li class="nav-item">
									<a class="nav-link active" href="/whxdm/codegroup/CodeGroupWHXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <!-- main wrapper -->
	<main class="main-content-wrapper">
		<div class="container">
			<div class="row mb-8">
				<div class="col-md-12">
					<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
						<h2>상품 관리</h2>
					</div>
				</div>
			</div>
			<div class="row mb-8 g-5">
				<div class="col-lg-12 col-12">
					<div class="card card-lg border-0">
						<div class="card-body d-flex flex-column gap-8 p-7">
							<div class="d-flex flex-column gap-4">
								<form class="row g-5 needs-validation" novalidate 
									method="post" id="form" name="form">
									
									<input type="hidden" name="pSeq" th:value="${item?.pSeq}">
									<input type="hidden" name="pName" th:value="${item?.pName}">
									<input type="hidden" name="pPrice" th:value="${item?.pPrice}">
									<input type="hidden" name="pOption" th:value="${item?.pOption}">
									<input type="hidden" name="vender_vSeq" th:value="${item?.vender_vSeq}">
									<input type="hidden" name="pCateCd" th:value="${item?.pCateCd}">
									<div class="col-lg-4 col-12">
										<label for="pSeq" class="form-label">
											상품 번호
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" name="pSeq" id="pSeq" 
											th:value="${item?.pSeq}" placeholder="자동생성" disabled />
									</div>
									<div class="col-lg-4 col-12">
										<label for="vName" class="form-label">
											거래처
											<span class="text-danger">*</span>
										</label>
										<select id="vName" name="vender_vSeq" th:value="${item?.vender_vSeq}" class="form-select" disabled>
										<option value="">항목을 선택해주세요</option>
										<option th:each="list:${vList}" th:text="${list.vName}" th:value="${list.vSeq}"
										th:selected="${list?.vSeq == item?.vender_vSeq}" ></option>
										
										</select>
										</div>
										<div class="col-lg-4 col-12">
										<label for="pCateCd" class="form-label">
											카테고리
											<span class="text-danger">*</span>
										</label>
										<select id="pCateCd" name="pCateCd" th:value="${item?.pCateCd}" class="form-select" disabled>
										<option value="">항목을 선택해주세요</option>
										<option th:each="clist:${codeList}" th:text="${clist.cName}" th:value="${clist.cSeq}"
										th:selected="${clist?.cSeq == item?.pCateCd}"></option>
										
										</select>
										</div>
									<div class="col-lg-4 col-12">
										<label for="pName" class="form-label">
											상품 이름
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" name="pName" id="pName"
											th:value="${item?.pName}" autocomplete="off" 
											 required disabled/>
										<div class="invalid-feedback">다시 입력해주세요</div>
									</div>
									<div class="col-lg-4 col-12">
									<label for="pPrice" class="form-label">
											상품 가격
											<span class="text-danger">*</span>
										</label>
										<input type="text" class="form-control" name="pPrice" id="pPrice"
											th:value="${item?.pPrice}" autocomplete="off" 
											 required disabled/>
										<div class="invalid-feedback">다시 입력해주세요</div>
									
									</div>
									<div class="col-lg-4 col-12">
										<label for="pOption" class="form-label">상품 옵션</label>
										<span class="text-danger">*</span>
										<input type="text" class="form-control" 
											th:value="${item?.pOption}" id="pOption" name="pOption" autocomplete="off" disabled  required/>
									</div>
									<div class="col-lg-4 col-12">
										<label for="pStock" class="form-label">상품 재고</label>
										<span class="text-danger">*</span>
										<input type="text" class="form-control" 
											th:value="${item?.pStock}" id="pStock" name="pStock" autocomplete="off"   required/>
											<div class="invalid-feedback">다시 입력해주세요</div>
									</div>
									<div class="col-lg-8 col-12"></div>
									<div class="col-lg-6 col-12">
										<div class="d-flex flex-column flex-md-row gap-2">
											<a href="javascript:history.back()" class="btn btn-outline-secondary"><i class="bi bi-list-ul"></i></a>
										</div>
									</div>
									<div class="col-lg-6 col-12" style="text-align: right;">
										
										
										<button class="btn btn-primary" type="button" id="btnSave">
											<i class="bi bi-database-add"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
      </div>
    	
    	<div th:replace="~{/whxdm/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

<!-- 변수 정의 / 공통 함수 -->
<script type="text/javascript">
	// Seq
	let seq = document.querySelector("input[name=pSeq]");
	
	// URL
	let fom = document.querySelector("form[name=form]");
	let goUrlXdmInst = "/productWHXdmInst";
	let goUrlXdmUpdt = "/productWHXdmUpdt";
// 	let goUrlXdmUele = "/productWHXdmUele";
// 	let goUrlXdmDele = "/productWHXdmDele";

	// Input
	let cgName = document.getElementById("pName");
	let pStock = document.getElementById("pStock"); 
	function submit(goUrl) {
		fom.action = goUrl;
		fom.submit();
	}
</script>

<!-- Validation: Bootstrap -->
<script type="text/javascript">
	// btnSave 클릭시
	document.getElementById("btnSave").onclick = function() {
		var focus = false; // Validation 후 Focus 줘야 하는 Input
		
		// cgName 체크
		resetValidation(cgName);
		
		if (!strKorEngNumberValidation(cgName)) {
			cgName.classList.add("is-invalid");
			
			if (!focus) {
				cgName.focus();
				focus = true;
			}
		} else {
			cgName.classList.add("is-valid");
		}
		
		// pStock 체크
		resetValidation(pStock);
		
		if (!strKorEngNumberValidation(pStock)) {
			pStock.classList.add("is-invalid");
			
			if (!focus) {
				pStock.focus();
				focus = true;
			}
		} else {
			pStock.classList.add("is-valid");
		}
		// Alert/Modal과 달리 모든  Input창을 한번에 확인해야 하므로 return false 시
		// Focus 줘야 하는 Input(Validation에 처음으로 걸린 Input)이 있는지 확인
		if (focus) return false;
		
		cgName.value = cgName.value.trim();
		
		if(seq.value == "0" || seq.value == "") {
			submit(goUrlXdmInst);
		} else {
			submit(goUrlXdmUpdt);
		}
	}
	
	// cgName Input 시 체크
	cgName.addEventListener("input", function() {
		resetValidation(cgName);
		
		if (!strKorEngNumberValidation(cgName)) {
			cgName.classList.add("is-invalid");
		} else {
			cgName.classList.add("is-valid");
		}		
	});
</script>

<!-- 삭제/삭제(업데이트) 모달 -->
<script type="text/javascript">
	if(document.getElementById("btnUelete")){
		document.getElementById("btnUelete").onclick = function () {
			showModalDeleteConfirm("확인", "해당 데이터를 삭제(업데이트)하시겠습니까?", '', 'none');	
		}
	}

	document.getElementById("btnModalUelete").onclick = function () {
		submit(goUrlXdmUele);
	}
	
	if(document.getElementById("btnDelete")){
		document.getElementById("btnDelete").onclick = function () {
			showModalDeleteConfirm("확인", "해당 데이터를 삭제하시겠습니까?", 'none', '');     	
		}
	}

	document.getElementById("btnModalDelete").onclick = function () {
		submit(goUrlXdmDele);
	}
</script>

</body>
</html>
	