<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/hoxdm/include/head :: head}"></div> <!-- 중복되는 head 처리 -->
 	
<div class="main-wrapper">
	<nav class="navbar-vertical-nav d-none d-xl-block">
		<div class="navbar-vertical">
			<div class="px-4 py-5">
				<a href="/hoxdm/index" class="navbar-brand">
					<img src="/assets/xdm/template/FreshCart-1.4.0/images/logo/logo.png" alt="" />
				</a>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column" id="sideNavbar">
					<li class="nav-item">
						<a class="nav-link active" href="/hoxdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/hoxdm/order/UserOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-person"></i></span>
								<span class="nav-link-text">유저 주문관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/hoxdm/order/ClientOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
								<span class="nav-link-text">거래처 주문현황</span>
							</div>
						</a>
					</li>
					
					
					
					
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/order/WarehouseOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-houses"></i></span>
								<span class="nav-link-text">창고 주문현황</span>
							</div>
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/order/DeliOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-truck"></i></span>
								<span class="nav-link-text">배송현황</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/vender/VenderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building"></i></span>
								<span class="nav-link-text">거래처관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/productHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">상품관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navCategoriesSys"
							aria-expanded="false"
							aria-controls="navCategoriesSys"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navCategoriesSys" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/hoxdm/code/CodeHOXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/hoxdm/codegroup/CodeGroupHOXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
		<div class="navbar-vertical">
			<div class="px-4 py-5 d-flex justify-content-between align-items-center">
				<a href="/hoxdm/index" class="navbar-brand">
					<img src="/assets/usr/template/FreshCart-1.4.0/images/logo/logo.png" alt="" />
				</a>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" href="/hoxdm/index">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-house"></i></span>
								<span class="nav-link-text">Home</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/hoxdm/order/UserOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-person"></i></span>
								<span class="nav-link-text">유저 주문관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/hoxdm/order/ClientOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
								<span class="nav-link-text">거래처 주문현황</span>
							</div>
						</a>
					</li>
					
					
					
					
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/order/WarehouseOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-houses"></i></span>
								<span class="nav-link-text">창고 주문현황</span>
							</div>
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/order/DeliOrderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-truck"></i></span>
								<span class="nav-link-text">배송현황</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/hoxdm/vender/VenderHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-building"></i></span>
								<span class="nav-link-text">거래처관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/productHOXdmList">
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-box"></i></span>
								<span class="nav-link-text">상품관리</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a
							class="nav-link collapsed "
							href="#"
							data-bs-toggle="collapse"
							data-bs-target="#navOrders"
							aria-expanded="false"
							aria-controls="navOrders"
						>
							<div class="d-flex align-items-center">
								<span class="nav-link-icon"><i class="bi bi-laptop"></i></span>
								<span class="nav-link-text">시스템관리</span>
							</div>
						</a>
						<div id="navOrders" class="collapse" data-bs-parent="#sideNavbar">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link" href="/hoxdm/code/CodeHOXdmList">코드관리</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/hoxdm/codegroup/CodeGroupHOXdmList">코드그룹관리</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- main wrapper -->
	<main class="main-content-wrapper">
		<section class="container">
			<!-- row -->
			<div class="row mb-8">
				<div class="col-md-12">
					<!-- card -->
					<div
					class="card bg-light border-0 rounded-4"
					style="background-image: url(/assets/xdm/template/FreshCart-1.4.0/images/banner/login-bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
						<div class="card-body p-lg-12">
							<h1 style="color:lightgray">Welcome back, Codetrio!</h1>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
			<!-- table -->
			<div class="table-responsive-xl mb-6 mb-lg-0">
				<div class="row flex-nowrap pb-3 pb-lg-0">
					<div class="col-lg-4 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<!-- heading -->
								<div class="d-flex justify-content-between align-items-center mb-6">
									<div>
									<h4 class="mb-0 fs-5">총 매출액</h4>
									</div>
									<div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
									￦
									</div>
								</div>
								<!-- project number -->
								<div class="lh-1">
									<h1 class="mb-2 fw-bold fs-2" th:text="${@codeTrioUtil.formatWon(totalPrice)}"></h1>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<!-- heading -->
								<div class="d-flex justify-content-between align-items-center mb-6">
									<div>
									<h4 class="mb-0 fs-5">주문 수</h4>
									</div>
									<div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
									<i class="bi bi-cart fs-5"></i>
									</div>
								</div>
								<!-- project number -->
								<div class="lh-1">
									<h1 class="mb-2 fw-bold fs-2" th:text="${@codeTrioUtil.formatWon(totalOrder)}"></h1>
									<span>
									<span class="text-dark me-1">[[${totalOrder}]]+</span>
								
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<!-- heading -->
								<div class="d-flex justify-content-between align-items-center mb-6">
									<div>
									<h4 class="mb-0 fs-5">실시간 접속현황</h4>
									</div>
									<div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
									<i class="bi bi-people fs-5"></i>
									</div>
								</div>
								<!-- project number -->
								<div class="lh-1">
									<h1 class="mb-2 fw-bold fs-2">39,354</h1>
									<span>
									<span class="text-dark me-1">30+</span>
									
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- row -->
			<div class="row">
				<div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-6">
					<!-- card -->
					<div class="card h-100 card-lg">
						<div class="card-body p-6">
							<!-- heading -->
							<div class="d-flex justify-content-between">
								<div>
									<h3 class="mb-1 fs-5">평균 매출 현황</h3>
									<small>(+63%) 이전 년도 대비</small>
								</div>
								<div>
									<!-- select option -->
									<select class="form-select">
									<option selected>2025</option>
									</select>
								</div>
							</div>
							<!-- chart -->
							<div id="revenueChart" class="mt-6"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-6 col-12 mb-6">
					<!-- card -->
					<div class="card h-100 card-lg">
						<!-- card body -->
						<div class="card-body p-6">
							<!-- heading -->
							<h3 class="mb-0 fs-5">전체 판매량</h3>
							<div id="totalSale" class="mt-6 d-flex justify-content-center"></div>
							<div class="mt-4">
								<!-- list -->
								<ul class="list-unstyled mb-0">
									<li class="mb-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
										<circle cx="8" cy="8" r="8" />
									</svg>
									<span class="ms-1">
										<span class="text-dark">구매확정 6,000</span>
										(64%)
									</span>
									</li>
									<li class="mb-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
										<circle cx="8" cy="8" r="8" />
									</svg>
									<span class="ms-1">
										<span class="text-dark">배송중 2,000</span>
										(21%)
									</span>
									</li>
									<li class="mb-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-danger" viewBox="0 0 16 16">
										<circle cx="8" cy="8" r="8" />
									</svg>
									<span class="ms-1">
										<span class="text-dark">새주문 1,000</span>
										(11%)
									</span>
									</li>
									<li>
									<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle-fill text-info" viewBox="0 0 16 16">
										<circle cx="8" cy="8" r="8" />
									</svg>
									<span class="ms-1">
										<span class="text-dark">환불 600</span>
										(4%)
									</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
			
		</section>
	</main>
</div>
    	
<div th:replace="~{/hoxdm/include/footer :: footer}"></div> <!-- 중복되는 footer 처리 -->

</body>
</html>