<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div class="d-md-flex justify-content-between align-items-center px-6 py-6" 
		th:fragment="totalAndRowNum">
		<span>Total: <span th:text="${vo.totalRows}"></span></span>
		<nav class="mt-2 mt-md-0">
			<select class="form-select mt-2 mt-md-0" id="changeRowNum" name="changeRowNum">
				<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
				<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
				<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
				<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
				<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
				<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option>       
			</select>
		</nav>
	</div>
</html>